/.mixin.out
/asm
/assets
/astralsorcery
/backups
/config/jei
/crash-reports
/llibrary
/local
/logs
/mods
/natives
/resourcepacks
/saves
/screenshots
/snapshot-server
/tmp
/TombManyGraves
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/.ReAuth.cfg
/background.png
/BotaniaVars.dat
/config.json
/crafttweaker.log
/knownkeys.txt
/manifest.json
/options.txt
/patchouli_data.json
/roots.log
/usercache.json
/usernamecache.json
/config.bak.json
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/sounds.txt
config/fantasticlib/reference/villager_professions.txt
